html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.header_icon {
  object-fit:contain;
  height: 100px;
  padding-left: 200px;
  margin-top: 200px;
}

.header_center {
  display: flex;
  flex: 1;
  align-items:center;
  max-width: fit-content;
  padding: 10px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header_center>form {
  display: flex;
}

.header_center>form>input {
  border: none;
  padding: 5px;
  outline-width: 0;
  width: 250px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  height: 50vh;
  position: relative;
  background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg") center center;
}

.banner_info {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-bottom: 40px;
  padding-right: 50px;
  width: 400px;
}

.banner_info>button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner_info>button:hover {
  background-color: white;
  color: #ff7779;
}

.banner_info>h5 {
  margin-top: 10px;
}


.card {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.07);
}

.card>img {
  object-fit: fill;
  min-width: 300px;
  height: 168px;
  width: 100%;
}

.card__info {
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
}

.card__info>h2 {
  font-size: 18px;
  font-weight: 600;
}

.card__info>h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}